<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search match statistics by game code</title>
    <link rel="stylesheet" href="/css/buttons.css" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
</div>
<div class="centered-container">

    <div class="header">
        Please provide a valid Match ID and choose the correct server.
    </div>
    <div class="content" >
        <form action="#" th:action="@{/find}" method="post">
            Match ID: <input type="text" name="match_id" field="*{match_id}">
            <br>
            <label for="region">Region:</label>
            <select id=region field="*{region}" name="region">
                <option value="eun1" selected>Europe North</option>
                <option value="euw1">Europe West</option>
            </select>
            <br>
            <input type="submit" name="submit" value="Submit">
            <input type="submit" name="update player stats" value="Update player stats">
        </form>

    </div>

        <img class="centered-container-image" src="static/img/fizzlol.jpg" th:src="@{img/fizzlol.jpg}">


</div>


</body>
</html>