<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <img onClick="location.href='find'" class="img-responsive" src="static/img/Aatroxfr.png" th:src="@{img/Aatroxfr.png}" width="200" height="200" />
    <p>Find By Match ID</p>
</div>
<div>
    <img onClick="location.href='matchlist'" class="img-responsive" src="static/img/amumu.png" th:src="@{img/amumu.png}" width="200" height="200" -- style="--color:#50FF14" />
    <p>Match list</p>
</div>
<div>
    <img onClick="location.href='players'" class="img-responsive" src="static/img/azir.png" th:src="@{img/azir.png}" width="200" height="200" -- style="--color: #FF00BB"/>
    <p>Players</p>
</div>
<div>
    <img  onClick="location.href='register'" class="img-responsive" src="static/img/teemo.jpeg" th:src="@{img/teemo.jpeg}" width="200" height="200" style="--color:#0B486B"/>
    <p>Register</p>
</div>
<div>
    <img onClick="location.href='login'"  class="img-responsive" src="static/img/Ashe.png" th:src="@{img/Ashe.png}" width="200" height="200" style="--color:#BD1550"/>
    <p>Login</p>
</div>




</body>
</html>